:root {
  --gray: #707070;
  --darkGray: #7C7C7C;
  --white: #FFFFFF;
  --black: #303030;
  --blue: #2471CF;
}

body {
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}